.Board {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.2), 0 1px 4px 2px rgba(0,0,0,0.3);
  margin: 21.440px auto;
}

.Board-cell {
  background: #DDD;
  border: 1px solid #999;
  height: 34px;
  width: 34px;
  padding: 5px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}

.Board-cell:focus {
  outline: none;
}